In [32]:
import pandas as pd

# Folder where csv is stored:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
yellow_2021_01 = 'yellow_tripdata_2021-01.csv.gz'

# Add dicts to clean up data types:
    # dtype is an argument of pd.read_csv
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

    # parse_dates is an argument of pd.read_csv
parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

# Read a sample of the data
df = pd.read_csv(prefix + yellow_2021_01, nrows=100, dtype=dtype, parse_dates=parse_dates)

In [33]:
# Display first rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [34]:
# Check data types
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag       string[python]
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [35]:
# Check data shape
df.shape

(100, 18)

In [22]:
# Install SQLAlchemy
# !uv add sqlalchemy psycopg2-binary

In [36]:
from sqlalchemy import create_engine

# Engine connects pandas to your database. Syntax: create_engine('<database type>://<user><pw>@localhost:<port>/<db_name>)
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [37]:
# We can now use SQLAlchemy to generate a SQL to create a table based on dataframe created in pandas above:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [15]:
# (n=0) allows to create an empty table (just the schema)
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [48]:
# Full dataset:
url = prefix + yellow_2021_01

# pandas has an integrated iterator and chunksize mechanism:
df_iter = pd.read_csv(
    url, # where the csv is
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000 # num of rows to break chunks at
)

df_iter

In [49]:
# Show all chunks and size of each:
for df_chunk in df_iter:
    print(len(df_chunk))

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
69765

In [45]:
from tqdm.auto import tqdm # the progress bar

In [51]:
# Batch ingestion script:

df_iter = pd.read_csv(
    url, # where the csv is
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000 # num of rows to break chunks at
)

first = True

for df_chunk in tqdm(df_iter): # need to wrap tqdm around to show progress bar
    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace",
            index=False
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False
    )

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]

Table created
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 100000
Inserted: 69765

In [6]:
import pandas as pd
from sqlalchemy import create_engine

# Add zones lookup table to PostgreSQL database:
zones_url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

df_zones = pd.read_csv(zones_url)

df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

df_zones.to_sql(
    name='zones',
    con=engine,
    if_exists='replace',
    index=False
)

265